<div id="main">

  <div class="course">
    <a class="course-title" [routerLink]="['/course-teacher/'+course.courseId]">{{course.title}}</a>

    <!--In here list all member students-->

    <a class="member-title">Вивчають предмет:</a>

    <div class="student" *ngFor="let student of memberStudents">
      <a class="student-name">🎓 {{student.name}}</a>
      <a class="student-button" title="Видалити з курсу" (click)="removeFromCourse(student.userId)">➖</a>
      <a class="student-button">  </a>
      <a class="student-button" title="Успішність" (click)="openReportOnStudent(student.userId)">📝</a>
    </div>

    <!--In here all non-member students-->

    <a class="member-title">Не вивчають предмет:</a>

    <div class="student" *ngFor="let student of notMemberStudents">
      <a class="student-name">🎓 {{student.name}}</a>
      <a class="student-button" title="Додати до курсу" (click)="addToCourse(student.userId)">➕</a>
    </div>


  </div>

</div>
