<div id="main">
  <div class="login-form" [formGroup]="form">
    <br>
    <div class = "label">Вхід в акаунт</div> <br>
    <input id="login" [(ngModel)]="user.login" formControlName="login" maxlength = "30" autocomplete="off"
      [ngClass] = "{'input-bad': login?.errors && (login?.dirty || login?.touched)}" placeholder="Логін">
    <br>
    <div *ngIf="login?.errors?.['minlength'] && (login?.dirty || login?.touched)">
      <div class = "hint">Використовуйте не менш ніж 4 символи</div>
    </div>
    <div *ngIf="login?.errors?.['required'] && (login?.dirty || login?.touched)">
      <div class = "hint">Ім'я користувача не може бути пустим</div>
    </div>
    <br>
    <br>
    <input id="password" [(ngModel)]="user.password" formControlName="password" maxlength = "30" type="password"
      [ngClass] = "{'input-bad': password?.errors && (password?.dirty || password?.touched)}" placeholder="Пароль">
    <div  *ngIf="password?.errors?.['required'] && (password?.dirty || password?.touched)">
      <div class = "hint">Пароль не може бути пустим</div>
    </div>
    <div  *ngIf="password?.errors?.['minlength'] && (password?.dirty || password?.touched)">
      <div class = "hint">Використовуйте не менш ніж 4 символи</div>
    </div>
    <div *ngIf="isLoginFailed">
      <div class = "hint">Неправильне ім'я користувача або пароль</div>
    </div>
    <div *ngIf="!form.valid">
        <button id="authorizeDisabled" type="button" (click)="onSubmit()" disabled title="Введіть коректні дані">Увійти</button>
    </div>
    <div *ngIf="form.valid">
        <button id="authorize" type="button" (click)="onSubmit()">Увійти</button>
    </div>
    <br>
  </div>
</div>
