<div id="main">

  <!--Lecture controls-->
  <div class="test">
    <div class="login-form">
      <div class="test-container">
        <a class="test-title" >{{test.title}}</a>
        <a class="test-time">Оставшееся время: {{counter | formatTime}}</a>
      </div>
      <div class="part-of">
        <a>Часть курса: </a>
        <a (click)="openCourse(test.courseId)" [routerLink]="['/course/'+test.courseId]"> {{courseTitle}}</a>
      </div>
    </div>
  </div>

  <!--HERE ARE THE QUESTION CONTROLS-->

  <div class="test-content">
    <div class="test-container">
      <div class="test-container">

      </div>
      <div class="test-container">
        <!--<a class="current-page" style="float: left">Вопрос: </a>-->
        <a class="question-num" style="float: left">Вопрос {{currentQuestion}} из {{test.questions.length}}</a>
        <select id="pages" class="form-control" (change)="pickedOption($event.target)" [(ngModel)]="currentQuestion">
          <option *ngFor="let question of questionsModel" [value]="question.questionNum">
            {{question.questionNum}}. {{question.text}}
          </option>
        </select>
        <p class="question-text" id="description" [(ngModel)]="questionsModel[currentQuestion-1].text" #textarea [scrollTop]="1 - textarea.scrollHeight">
          {{questionsModel[currentQuestion-1].text}}
        </p>
      </div>

      <div class="answers-line">
        <a class="answers-label">Ответы на вопрос:</a>
      </div>

      <form>
        <div class="radio-line" *ngFor="let answer of questionsModel[currentQuestion-1].answers">
            <input class="radio-circle" type="radio" id="{{answer.answerId}}" name="answer" value="{{answer.answer}}"
                   (change)="pickedAnswer($event.target)" [checked]="answer.answer === questionsModel[currentQuestion-1].answer">
          <label class="radio-label" for="{{answer.answerId}}">{{answer.answer}}</label>
        </div>
      </form>

      <div class="page-buttons">
<!--
        <button name="submit" [disabled]= "currentQuestion==questionsModel.length" class="action_btn" type="submit" (click)="rightButton()">{{rightButtonText}}</button>
        <button name="submit" [disabled]= "currentQuestion <2" class="action_btn" type="submit" (click)="leftButton()">{{leftButtonText}}</button>
-->
        <button name="submit" class="action_btn" type="submit" (click)="rightButton()">{{rightButtonText}}</button>
        <button name="submit" class="action_btn" type="submit" (click)="leftButton()">{{leftButtonText}}</button>
      </div>
    </div>
  </div>
</div>
