<div>
  <ul>
    <li class="title"><a (click)="openHomePage()" ><img [src]="'../../assets/logo.png'" alt="logo"></a></li>

    <!--Navigation buttons-->
      <div class="centred-part">

        <ng-template [ngIf]="isAdmin || !isLoggedIn">
          <li class="top-bar"></li>
        </ng-template>
        <ng-template [ngIf]="isTeacher">
          <li class="top-bar"><a (click)="openHomePage()">Мої курси</a></li>
        </ng-template>
        <ng-template [ngIf]="isStudent">
          <li class="top-bar"><a (click)="openStudentPerformance()">Моя успішність</a></li>
        </ng-template>

        <!--Placeholder for a potential another button-->
        <!--<li class="top-bar"><a (click)="nothing()">Пункт</a></li>-->

      </div>

    <!--Shows username and role icon on top bar-->
    <ng-template [ngIf]="isLoggedIn" [ngIfElse]="loggedOut">
      <ng-template [ngIf]="isAdmin">
        <li class="name"><a >🔧{{this.curUser}}</a></li>
      </ng-template>
      <ng-template [ngIf]="isTeacher">
        <li class="name"><a >👓{{this.curUser}}</a></li>
      </ng-template>
      <ng-template [ngIf]="isStudent">
        <li class="name"><a >🎓{{this.curUser}}</a></li>
      </ng-template>
      <li class="exit-bar"></li><li class="exit-bar"></li>
      <li class="exit-bar"><a (click)="logOut()" >Вийти</a></li>
    </ng-template>
    <!--Login/Logout button-->
    <ng-template #loggedOut>
      <li class="name"> </li><li class="name"> </li>
      <li class="exit-bar"><a (click)="openAuthorization()" >Вхід</a></li>
    </ng-template>
  </ul>
</div>
